.content {
  height: 100vh;

  padding-block: 8vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
}

.content__text {
  padding-block: 4vh 4vh;
  padding-inline: 4vw 4vw;
}

.container {
  padding-block: 5rem;
  padding-inline: 5vw 5vw;

  width: 60vw;

  background-color: var(--dream-horizen);
  box-shadow: 0px 2px 7px 0px rgb(75, 75, 75);
}

.form {
  display: grid;
  grid: repeat(3, 1fr) / repeat(auto-fit, 20rem);
  gap: 1rem;

  justify-content: center;
}

.form__text {
  padding-block: 0.5rem;
}

.form__fieldset {
  display: contents;
}

.form__submit {
  height: 4rem;
  width: 10rem;

  justify-self: center;
  align-self: center;
}

.form__error {
  height: 1.2rem;

  color: red;
  font-size: 1.2rem;
}

.account {
  padding-block: 5rem;

  display: grid;
  grid: repeat(2, 1fr) / 1fr;
}

.account__button {
  padding: 1rem;
  width: 60%;

  justify-self: center;
}

.account__anchor {
  display: flex;
  gap: 1rem;
}

@media (max-width: 600px) {
  input {
    width: 20rem;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .account {
    padding-block: 2rem;
  }

  .container {
    padding-block: 2vh;
  }

  .content__text {
    padding: 1rem;

    width: 40vh;
  }

  .form {
    justify-items: center;
    grid: repeat(7, 1fr) / 1fr;
    gap: 0px;
  }

  .form__field {
    justify-self: center;
  }
}
